<!--
<div class="container">
<div class="modal-body">
	<div class="first-column">
		1
	</div>
	<div class="second-column">
		 <div class="jumbotron">2</div>
   </div>
</div>
</div>
-->

<ul ng-controller="ListController">
    <li ng-repeat="item in items" ng-controller="ItemController">
        <div ng-click="open(item)">{{item.content}}</div>        
    </li>
    <hr>
    <ng-switch on="anyItemOpen()">
     <div ng-switch-when="true">
         <div ng-controller="ItemController">
             {{opened.name}}: overlay: tweet, share, pin
         </div>  
         <a ng-click="close()">close</a>         
     </div>
    </ng-switch>   
</ul>

