<!-- show or hide the panel to see the detail or to modify the information of device -->

	Device Name: {{devSelected}}
	<br>
	<div class="onRight">
	<div class="onoffswitch">
		<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" ng-checked="devSelectedStatus.OnOff" ng-click="reverseOnOffStatus()" ng-model="checkValue">
		<label class="onoffswitch-label" for="myonoffswitch">
		    <span class="onoffswitch-inner"></span>
		    <span class="onoffswitch-switch"></span>
		</label>
	</div>
	</div>

	<div ng-repeat="data in ENERGY">
	Energy: {{data.level}}
	</div>


	<!--

	<ul class="nav nav-pills">
		<li> <a href ng-click="qualcosa.haveYouModified(1)">Detail</a> </li>
		<li> <a href ng-click="qualcosa.haveYouModified(0)">Modify</a> </li>
	</ul>

	<div ng-show="qualcosa.haveYouModified(1)">

		{{detail.devName}}
		<br>
		{{detail.devStatus}}
		<br>

		
		<p>Graphic</p>
	</div>


	<div ng-show="qualcosa.haveYouModified(0)">
		<p>Modifiy</p>
	</div>
	-->

