<!-- show or hide the panel to see the detail or to modify the information of device -->

<h2>Device {{devSelected}}</h2>
<br>
<div class="onRight">
<div class="onoffswitch">
	<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" ng-checked="devSelectedStatus.OnOff" ng-click="reverseOnOffStatus()" ng-model="checkValue">
	<label class="onoffswitch-label" for="myonoffswitch">
	    <span class="onoffswitch-inner"></span>
	    <span class="onoffswitch-switch"></span>
	</label>
</div>
</div>

<div class="row" ng-controller="ChartCtrl">
    <highchart id="chart1" config="chartConfig" class="span10"></highchart>
</div>

